<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1050">
    <title>pylvax</title>
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Asap:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
</head>

<body>
    {% block menu_block %}{% endblock %}
    {% block content_block %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>

</html>
