{% extends 'base.html' %}

{% block menu_block %}
    {% include 'pylvax_app/_menu.html' %}
{% endblock %}

{% block content_block %}

    <div id="content">
        <div id="subpage" class="row">
            <h1>Contact</h1>
            <p>The workshops take place usually at the TOPdesk office every Wednesday at 18:00.</p>
            <p>If you want to get in contact with us, <a href="https://www.facebook.com/groups/pylvax/" target="_blank">join our public group</a> on facebook!</p>
            <p class="address">Address: TOPdesk, Budapest, Anker köz 2, 1061, IV. floor</p>
            <div id="map-canvas"></div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
<script src="/static/js/user/map.js"></script>
{% endblock %}
