@oldal_szelesseg: 1000px;
@font-size: 16px;
@menu_height: 70px;

html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Asap', sans-serif;
    font-weight: normal;
    color: #333;
    font-size: @font-size;
    line-height: 1.6;
    min-width: 1000px;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
a {
    text-decoration: none;
    color: #333;

    &:hover, &:visited {
    }
}
img {
    display: block;
}
ul {
    list-style: none;
}
iframe {
    display: block;
}
ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.row {
    width: @oldal_szelesseg;
    margin: 0 auto;
}
.row_narrow {
    width: 600px;
    margin: 0 auto;
}
#menu {
    background-color: #fff;

    ul {
        float: right;
    }
    li {
        float: left;
        text-transform: lowercase;
        margin-right: 30px;
    }
    a {
        font-family: 'PT Mono';
        font-size: 16px;
        font-weight: 400;
        line-height: @menu_height;
        height: @menu_height;
        text-decoration: none;
        color: #F75C5C;

        &:hover, &.active {
            color: #AD4F4F;
        }
    }
    .menu-logo {
        font-family: 'PT Mono';
        font-size: 28px;
        letter-spacing: 3px;
        color: #6A3E8C;
        width: 150px;
        height: @menu_height;
        float: left;
        text-align: center;
        line-height: @menu_height;
        font-weight: 400;

        &:hover {
            color: #854eaf;
        }
    }
}


#content {
    min-height: 100%;
    background-image: url('/static/images/background-cloud.jpg');
    background-size: 100%;
    background-color: #f0f2ed;
    background-repeat: no-repeat;
    padding-top: 30px;
}
#home-page {
    background-image: url('/static/images/bg-photo0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    height: 100%;
}
.home-title {
    font-family: 'PT Mono';
    color: #fff;
    font-size: 30px;
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    width: 370px;
    line-height: 50px;
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 120px;
    border-radius: 15px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.7);
        color: #6A3E8C !important;
    }
    &:visited {
        color: #fff;
    }
}
