.markdown {
    padding-top: 10px;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        color: inherit;
        font-family: 'Asap', sans-serif;
        margin-bottom: 16px;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    ul, ol {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 2em;

        ol {
            list-style-type: lower-roman;
        }
        ul, ol {
            margin-top: 0;
            margin-bottom: 0;

            ol {
                list-style-type: lower-alpha;
            }
        }
    }
    p, ul, ol, table {
        margin-top: 0;
        margin-bottom: 16px;
    }
    a {
        color: #6A3E8C;

        &:hover, &:visited {
            color: #854eaf;
        }
    }
    pre {
        background-color: #fff;
        padding: 20px;
    }
    p.y_line, p.b_line {
        line-height: 2em;
        color: #F75C5C;
        font-size: 22px;
        margin-bottom: 5px;
    }
    // p.y_line {
        //     background-color: #FFE292;
        //
    // }
    // p.b_line {
        //     background-color: #F99F96;
        //
    // }
    .info_title {
        text-align: center;
        font-weight: 700;
        font-size: 1.5em;
    }
}
