@boxes_szelesseg: 900px;
@box_margin: 30px;


#subpage {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 40px;
    min-height: 100%;
    border-radius: 15px;
    // height: 1500px;

    &.about {
        background: none;
    }
}
.home-boxes-wrapper {
    width: @boxes_szelesseg - @box_margin;
    margin: 0 auto;
    overflow: hidden;

    .home-boxes {
        width: @boxes_szelesseg;

        a {
            display: block;
            width: @boxes_szelesseg / 3 - @box_margin;
            height: 320px;
            margin: 0 @box_margin @box_margin 0;
            padding: 20px;
            float: left;
            border-radius: 10px;
            position: relative;
            background-color: rgba(255, 255, 255, 0.6);

            &:hover {
                background-color: rgba(255, 255, 255, 0.9);
            }
            &.disabled {
                cursor: default;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}
.task-li, .topic-li {
    margin-bottom: 20px;
}
#map-canvas {
    width: 100%;
    height: 400px;
}
.address {
    padding: 10px 0;
}
.pylvax_img {
    height: 200px;
    float: left;
    margin: 10px 10px;
}
.more {
    font-size: 20px;
    color: #6A3E8C;

    &:hover {
        color: #854eaf;
    }
}
